<h1>edit this post</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <br>
    <div>
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control' %>
    </div>
    <br>
    <div>
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
    </div>
    <br>
    <div>
        <%= f.label :organic %>
        <%= f.text_field :organic, class: 'form-control' %>
    </div>
    <br>
    <div>
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>
    </div>
    <br>
    <div>
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <br>
    <div><h3>
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %></h3>
    </div>

    <%= f.submit "change this post now" %>

<% end %>

<%= link_to "back to farmerlist", posts_path %>
