<h1>edit this post</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div>
        <%= f.label :message %>
        <%= f.text_area :message %>
    </div>
    <br>
    <div>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>
    <br>
    <div>
        <%= f.label :organic %>
        <%= f.text_area :organic %>
    </div>
    <br>
    <div>
        <%= f.label :location %>
        <%= f.text_area :location %>
    </div>
    <br>
    <div>
        <%= f.label :phone %>
        <%= f.text_area :phone %>
    </div>
    <br>
    <div><h3>
        <%= f.label :image %>
        <%= f.file_field :image %></h3>
    </div>

    <%= f.submit "change this post now" %>

<% end %>

<%= link_to "back to farmerlist", posts_path %>
