<h1><%= @post.title %></h1>
    <%= image_tag @post.image.url(:medium) %>
<h5>Posted <%= time_ago_in_words(@post.created_at) %> ago.</h5>


<h1> <%= @post.message %></h1>

<h1>is it organic? <%= @post.organic %></h1>

<h1>location: <%= @post.location %></h1>


<% if current_user == @post.user %>
<%= link_to "**delete this post", @post, method: :delete, data: { confirm: "are you sure you want to delete this post?"} %>
<br>
<%= link_to "**edit this post", edit_post_path(@post) %>
<% end %>
<br>
<%= link_to "back to farmerlist", posts_path %>
