<!DOCTYPE html>
<html>
    <head>
        <title>farmerslist</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <h2><body>

      <% if current_user %>
      <%= "logged in as #{current_user.email}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
      <% else %>

      <%= link_to 'home', root_path %> | <%= link_to 'log in', login_path %> or <%= link_to 'sign up', new_user_path %>
      <% end %>
    <hr>
        <% if notice %>
        <%= notice %>
        <% end %>

        <% if alert %>
        <%= alert %>
        <% end %>
        <%= render 'partials/nav' %>
        <div class="container">
        <%= yield %>
        </div>
    </body></h2>
</html>
